*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-between;
}

.nav-section{
    max-width: 1320px;
    margin: 20px;
}

.logo{
    width: 134px;
    height: 44px;
}

.nav-list{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    list-style: none;
    align-items: center;
}
 ul li a{
    text-decoration: none;
    color:#575757;
    width: 363px;
    height: 26px;
 }

 .Common-btn{
    width: 192px;
    height: 56px;
    padding: 4px;
    background-color: #1D4ED8;
    color: #FFFFFF;
    border-radius:12px;
 }

 .hero-section{
    width: auto;
    height: 786px ;
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(./assets/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
  
 }
 .hero-h2{
    color:#FFFFFF;
    font-size: 80px;

 }

 .hero-p{
    color:#FFFFFF;
     font-size: 20px;
     margin-top: 10px;
     width: 620px;
     margin-bottom: 40px;
 }

 .hero-btn{
  margin-top: 300px;
 }
 
 .meet-section h1{
    text-align: center;
    margin-top: 60px;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 40px;

 }

 .speakers-section{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 30px;
 }
 .single-card{
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 10px rgba(0,0,0,0.1);
 }

.skill-p{
    color:#2563EB;
    font-size:12px ;
    margin:5px;
}

.work-p{
    color: #575757;
    font-size: 13px;
    margin: 5px;
}